.login {
    padding: 25px;
    padding-top: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.login__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.login__logo-img {
    object-fit: contain;
    width: 90px;
}

.login__language {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 15px;
    transition: all 300ms ease;
}

.login__language:hover {
    background-color: hsla(0,0%,50.2%,0.125);
}

.login__language-span {
    font-weight: 500;
}

.login__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 330px;
    margin: 0 auto;
}

.login__info > h1 {
    font-weight: 500;
    font-size: 40px;
}